<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Water Filter Registration - Bluesense</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .navbar {
        background: #007bff;
        overflow: hidden;
      }

      .navbar a {
        float: left;
        display: block;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .navbar a:hover {
        background-color: #ddd;
        color: black;
      }

      .header {
        font-size: x-large;
        background: #007bff;
        color: #fff;
        padding: 10px;
        text-align: center;
      }

      .form {
        max-width: 400px;
        margin: 20px auto;
        padding: 16px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .form h1 {
        color: #007bff;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
      }

      .form input[type="text"],
      .form input[type="number"] {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .form textarea {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .form button {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        background: #007bff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
      }

      .form button:hover {
        background: #0056b3;
      }

      #image-preview {
        margin-bottom: 10px;
        text-align: center;
      }

      #image-preview img {
        max-width: 100%;
        max-height: 200px;
        border-radius: 5px;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="/api/admin/register-devices">Register New Device</a>
      <a href="/api/admin/device-data">List Registered Device</a>
      <a href="/api/admin/register-water-suppliers">Register Water Supplier</a>
      <a href="/api/admin/register-water-filters">Register Water Filter</a>
    </div>
    <div class="header">
      <h2>Water Filter Registration</h2>
    </div>

    <div id="waterSupplier" class="page">
      <div class="form">
        <h1>Register Water Filter</h1>
        <input type="text" id="name" name="name" placeholder="Name" required />
        <input
          type="number"
          id="price"
          name="price"
          placeholder="Price"
          required
        />
        <input
          type="number"
          id="rating"
          name="rating"
          placeholder="Rating"
          step="0.1"
          required
        />
        <textarea
          id="description"
          name="description"
          placeholder="Description"
          rows="4"
          required
        ></textarea>
        <input
          type="text"
          id="tokopedia_url"
          name="tokopedia_url"
          placeholder="Tokopedia URL"
        />
        <input
          type="text"
          id="shoppe_url"
          name="shoppe_url"
          placeholder="Shoppe URL"
        />
        <label for="image">Upload image of the product:</label>
        <input
          type="file"
          id="image"
          name="image"
          accept="image/*"
          onchange="previewImage()"
        />
        <div id="image-preview">
          <img id="preview" src="#" />
        </div>

        <button type="button" onclick="registerWaterSupplier()">
          Register
        </button>
      </div>
    </div>

    <script>
      function previewImage() {
        const preview = document.getElementById("preview");
        const fileInput = document.getElementById("image");
        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.onload = function () {
          preview.src = reader.result;
        };

        if (file) {
          reader.readAsDataURL(file);
        }
      }

      function registerWaterSupplier() {
        let name = document.getElementById("name").value;
        let price = document.getElementById("price").value;
        let rating = document.getElementById("rating").value;
        let description = document.getElementById("description").value;
        let tokopedia_url = document.getElementById("tokopedia_url").value;
        let shoppe_url = document.getElementById("shoppe_url").value;
        let image = document.getElementById("image").files[0];

        let formData = new FormData();
        formData.append("name", name);
        formData.append("price", price);
        formData.append("rating", rating);
        formData.append("description", description);
        formData.append("tokopedia_url", tokopedia_url);
        formData.append("shoppe_url", shoppe_url);
        formData.append("image", image);

        fetch("https://bluesense-api.vercel.app/api/admin/water-filters/", {
          method: "POST",
          body: formData,
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
          })
          .then((data) => {
            console.log("API response:", data);
          })
          .catch((error) => {
            console.error("Error sending data to API:", error);
            if (error.response) {
              console.error("Server response:", error.response.data);
            }
          });
      }
    </script>
  </body>
</html>
